# Игнорировать виртуальную среду
venv/
.venv/

# Игнорировать файлы конфигурации и ключей
service_account.json
service-account.json
__pycache__/
*.env

# Игнорировать временные и кеш-файлы
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3

# Игнорировать IDE файлы
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo   
